* {
	/*清除默认的内外边距*/
	margin: 0;
	padding: 0;
}
div	{
	width: 100px;
	height: 100px;
}
.container {
	width: 200px;
	height: 300px;
	margin-left: 50px;
	padding: 10px;
	border: 10px solid #000;
	background: antiquewhite;
	position: absolute;/*子元素相对父级的absolute或relative或fixed元素定位*/
	box-sizing: border-box;/*!!坑：子元素absolute相对父元素的0.0点，父元素的0.0点是border里面，padding外面的点，子元素不受父元素padding影响*/
}
.div1{
	background-color: #FFFF00;
	position: absolute;
	top:0;
	left: 0;
	border: 10px solid #ccc;
	box-sizing: border-box;/*!!坑 一个元素的对父级的坐标0点和对子元素的坐标0点不是同一个点，相差一个border距离*/
	padding: 10px;
}
.div2 {
	background-color: #00f;
	position: relative;
	left: 50%;
	top: 30px;
	color: #fff;
	}
.div3 {
	background-color: #000;
	color: #fff;
}
/*position static 文档流模式 从左到右，从上到下*/
/*relative 相对自己在文档流中的位置定位，对其他元素的定位是自己原来在文档流的位置，百分比值是父级元素的百分比*/
/*absolute 会使元素脱离文档流，自身相对于父级中最近的relavite或absulote或fixed元素定位,没有则相对body*/